<%- include("partials/header.ejs") %>
  <!-- End Acceuil navbar and Hamburger Menu -->




    <!-- Script to trigger background color change -->


    <div class="header">
        <h1 class="colored-text">Services</span></h1>
        <p class="main-description">Voici les services que nous offrons</p>
    </div>

    <div class="Service">


        <div class="service_grid">
            <% offres.forEach(item => { %>
            <div class="service_grid1">
                
                <!-- Pencil Button (Always Visible) -->
                 <div class="right_pencil">
                    <button id="edit-<%= item.id %>" class="edit" type="button">
                        <img class="icon" src="assets/icons/pencil-solid.svg" alt="pencil image">
                    </button>
                 </div>
             
                         <!-- Visible Content -->
                         <img src="<%= item.image %>" alt="aide a domicile">
                         
                         <h3 id="Itemtitle-<%= item.id %>"><%= item.title %></h3>
                         <div class="more-content">
                             <p>
                                <% item.contents.forEach(content => { %>
                                    <span><%= content %></span>
                                <% }); %>
                             </p>
                            
                         </div>
                         <span class="toggle-btn">Plus</span>


                <!-- Form (Hidden by Default) -->
                <form action="/editOffres" method="POST" enctype="multipart/form-data" id="edit-form-1">
                    <!-- Check Button -->
                    <div class="right_check">
                        <input type="hidden" name="updatedItemId" value="<%= item.id %>" >
                        <button id="done-<%= item.id %>" class="edit" type="submit" hidden>
                            <img class="icon" src="assets/icons/check-solid.svg" alt="check image" >
                        </button>
                    </div>

                      <!-- Editable Title Input -->
                      <div class="editService" style="display:none;">
                        <a href="/addOffre" class="plus-linkd" >
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <label for="title-1" class="form-label">Edit Title:</label>
                        <input type="text" name="title" id="title-1" class="form-control titleid" value="<%= item.title %>" />
                    
                        <label for="description-1" class="form-label">Edit Description:</label>
                        <% item.contents.forEach((content, index) => { %>
                            <input 
                                id="content-<%= index%>"
                                type="text"
                                name="updatedItemTitle_<%= index%>"
                                value="<%= content %>"
                                autocomplete="off"
                                autofocus="true"
                            /> <a href="/deleteOffre" class="icon-linkd">
                                <i class="fa-solid fa-trash"></i>
                              </a>


                        <% }); %>
                        <input 
                        id="input-image" 
                        type="file"
                        name="image" 
                        class="form-control mb-3"
                        accept="image/*" >
                   
                    </div>
        
                    <!-- Hidden Original Content -->
            
                </form>
                <a href="/deleteService" class="icon-linkd">
                    <i class="fa-solid fa-trash"></i>
                  </a>
            </div>
            <% }); %>
        </div>
       
        <a href="/addOffre" class="plus-linkd" >
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
            
            
   
    <script type="text/javascript">
        document.querySelectorAll('.toggle-btn').forEach(button => {
            button.addEventListener('click', function() {
                const moreContent = this.previousElementSibling;
                moreContent.classList.toggle('active');
                this.textContent = moreContent.classList.contains('active') ? 'Moins' : 'Plus';
            });
        });
    </script>



<script>
document.addEventListener("DOMContentLoaded", () => {
    const editButtons = document.querySelectorAll(".edit");
    const toggleButton = document.querySelector(".toggle-btn");
    editButtons.forEach(element => {
        const index = element.id.split("-")[1];
        console.log("index", index);
        element.addEventListener("click", (event) => {
            
    
              if (toggleButton) {
                toggleButton.style.display = "none";
            }
            const editButton = event.target.closest('button'); // Target the clicked button element
            const moreContent = document.querySelector(".more-content");
            const title = document.getElementById(`Itemtitle-${index}`);
            const editInput = document.querySelector(".editService");
            const doneButton = document.getElementById(`done-${index}`);
            

            // Hide content, title and pencil when the pencil button is clicked
            if (editButton.id === `edit-${index}`) {
                moreContent.style.display = "none";  // Hide the content
                title.style.display = "none";  // Hide the title
                editButton.style.display = "none";  // Hide the pencil button
                
                // Show the editable input fields and the done button
                editInput.style.display = "block"; // Show the input for editing
                doneButton.removeAttribute("hidden"); // Show the done button
            }
        });
    });

    // Event listener for the done button
    const doneButton = document.getElementById(`done-${index}`);
    doneButton.addEventListener("click", (event) => {
        
        //event.preventDefault();  // Prevent form submission


        // Show the content, title, and pencil button when done button is clicked
        const moreContent = document.querySelector(".more-content");
        const title = document.getElementById(`Itemtitle-${index}`);
        const editInput = document.querySelector(".editService");
        const editButton = document.getElementById(`edit-${index}`);
        
        moreContent.style.display = "block";  // Show the content again
        title.style.display = "block";  // Show the title again
        editButton.style.display = "block";  // Show the pencil button again
        
        // Hide the editable input fields and the done button
        editInput.style.display = "none";  // Hide the input form
        doneButton.setAttribute("hidden", "true");  // Hide the done button again
    });
});


</script>


<div class="booking">
  <h3>Veuillez nous laissez vos informations</h3>
  

  <div class="box">
    <!-- Form Section #18b7ff; -->
    <div class="contacte form">
        <h3>Envoyer un message</h3>
        <form>
            <div class="formBox">
                <div class="row50">
                    <div class="inputBox">
                        <span>Nom Complet</span>
                        <input type="text" placeholder="John">
                    </div>
                    <div class="inputBox">
                        <span>Entreprise</span> <!-- Changed to Last Name -->
                        <input type="text" placeholder="Doe">
                    </div>
                </div>
                <div class="row50">
                    <div class="inputBox">
                        <span>Courriel</span>
                        <input type="text" placeholder="Johndoe@gmail.com">
                    </div>
                    <div class="inputBox">
                        <span>Téléphone</span> <!-- Changed to Phone -->
                        <input type="text" placeholder="4182400005">
                    </div>
                </div>
                <div class="row100">
                    <div class="inputBox">
                        <span>Message</span>
                        <textarea placeholder="Write your message here..."></textarea>
                    </div>
                </div>
                <div class="row100">
                    <div class="inputBox">
                        <input type="submit" value="Soumettre">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="contacte info">
      <h3>Coordonnées</h3>
      <div class="infobox">
          <div>
              <span><ion-icon name="location"></ion-icon></span> 310, rue de Murano Local 204, Sainte Julie, QC, J3E 0C6
          </div>
          <div>
              <span><ion-icon name="mail"></ion-icon></span>
              <a href="mailto:lmailtome@email.com"> info@ases-pro.com</a>
          </div>
          <div>
              <span><ion-icon name="call"></ion-icon></span>
              <a href="tel:(418)000-0000"> (514) 225-1895</a>
          </div>
      </div>
  </div>

     <!-- Map Section -->
     <div class="contacte maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2792.3253484522875!2d-73.3208807!3d45.584004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc90134498d49cf%3A0xb9c56a2145dad136!2s310%20Rue%20Murano%2C%20Sainte-Julie%2C%20QC%20J3E%200C6!5e0!3m2!1sen!2sca!4v1724037570408!5m2!1sen!2sca" 
      width="600" 
      height="450" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!-- Add your map embed code or content here -->
  </div> 
</div>  
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>

<!-- /footer -->
<%- include("partials/footer.ejs") %>


